POSTGRES_DB=barbershop
POSTGRES_USER=barbershop
POSTGRES_PASSWORD=barbershop_password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_this_pgadmin_password
PGADMIN_PORT=5050
